@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../font/robotocondensed-light-webfont.woff2') format('woff2'),
         url('../font/robotocondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../font/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('../font/robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	font-family: 'roboto_condensedregular', sans-serif;
}
html,body,.fullHeight{
	height:100%;
}
.windowHeight{
	max-height:100vh;
}
.light{
	font-weight:300;
	font-family: 'roboto_condensedlight';
}
.table thead th{
	text-transform:uppercase;
	border-bottom:1px solid #000;
}
table td{
	color:#707070;
}
::-webkit-scrollbar,
::-webkit-scrollbar{
	width: 6px;
	height:6px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb{
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #666;
}
#loader{
	font-size:5rem;
	color:#fff;
	background:#4848ca;
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	-webkit-transition:opacity .5s;
	-o-transition:opacity .5s;
	transition:opacity .5s;
}
#root.data_loaded #loader{
	opacity:0;
	pointer-events:none;
}
#loader .loading_msgs{
	font-size:2rem;
}
#screens{
	position:relative;
	height:100%;
	overflow:hidden;
}
.screen{
	position:absolute;
	left:0;
	top:0;
	height:100%;
	-webkit-transform:translateX(100%);
	-ms-transform:translateX(100%);
	transform:translateX(100%);
	-webkit-transition:-webkit-transform .4s ease-out;
	transition:-webkit-transform .4s ease-out;
	-o-transition:transform .4s ease-out;
	transition:transform .4s ease-out;
	transition:transform .4s ease-out, -webkit-transform .4s ease-out;
}
.screen.active{
	-webkit-transform:translateX(0);
	-ms-transform:translateX(0);
	transform:translateX(0);
}
#screens>.screen:first-child{
	background:url('../images/screen1_bg.jpg') no-repeat;
	overflow:auto;
}
#logo{
	margin:60px auto 20px;
}
.season_years_container{
	margin:40px auto;
	max-width:650px;
}
.season_div{
	margin:20px 0;
}
.season_year{
	display:inline-block;
	cursor:pointer;
	font-size:1.2rem;
	padding:10px 0;
	color:#666;
	-webkit-transform:scale(0.8);
	-ms-transform:scale(0.8);
	transform:scale(0.8);
	-webkit-transition:-webkit-transform .4s ease-out;
	transition:-webkit-transform .4s ease-out;
	-o-transition:transform .4s ease-out;
	transition:transform .4s ease-out;
	transition:transform .4s ease-out, -webkit-transform .4s ease-out;
}
.season_year:hover{
	color:#1e3986;
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
}
.season_year:after{
	content:'';
	display:block;
	width:100%;
	height:1px;
	background:#1e3986;
	-webkit-transform:scale(0) translateX(50%);
	-ms-transform:scale(0) translateX(50%);
	transform:scale(0) translateX(50%);
	-webkit-transition:all .4s ease-out;
	-o-transition:all .4s ease-out;
	transition:all .4s ease-out;
}
.season_year:hover:after{
	-webkit-transform:scale(1) translateX(0);
	-ms-transform:scale(1) translateX(0);
	transform:scale(1) translateX(0);
}
#teams_screen{
	max-height:100vh;
	position:relative;
}
#teams_screen .screen_heading{
	color: #fff;
	background: #1e3986;
	padding: 10px 20px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}
#teams_screen .screen_heading .fa{
	cursor:pointer;
}
#teams_screen .screen_heading h3{
	margin:0 auto;
	font-size:1.4rem;
}
#teams_screen .screen_heading .logo{
	max-height:45px;
	margin-right:10px;
}
#ticker{
	overflow:hidden;
	background:#ffe74c;
	padding: 10px 0 0;
}
.screen.active #ticker ul{
	width:350%;
	-webkit-animation:moveLeft 45s infinite linear;
	animation:moveLeft 45s infinite linear;
	list-style:none;
}
#ticker li{
	color:#433c26;
	-webkit-box-flex:1;
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
	text-align: center;
	position:relative;
}
#ticker li:before{
	content:'';
	display:block;
	width:30px;
	height:2px;
	background:#433c26;
	position:absolute;
	left:0;
	top:50%;
}
#teams_screen .screen_content{
	padding-top:65px;
}
#season_teams{
	overflow-y:auto;
}
#season_teams::-webkit-scrollbar-track,
#team_info::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #F5F5F5;
}
#team_info::-webkit-scrollbar-thumb{
	background-color:#1e3986;
}
#season_teams .team_div{
	padding:20px;
	background:#1e3986;
	border-top:1px solid rgba(255, 255, 255, 0.24);
	color:#fff;
	text-align:center;
	position:relative;
	overflow:hidden;
}
#season_teams .win_ribbon{
	background: #31b331;
	width: 110px;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transform: rotate(45deg) translate(25px,-50px);
	-ms-transform: rotate(45deg) translate(25px,-50px);
	transform: rotate(45deg) translate(25px,-50px);
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top;
}
#season_teams .team{
	cursor:pointer;
	display:inline-block;
	width:220px;
	text-align:left;
}
#season_teams .team img{
	width:50px;
}
#season_teams .team>span{
	display:inline-block;
	margin-left:10px;
}
#team_info{
	overflow-y:auto;
}
#team_info h3{
	margin:30px 0 10px;
}
#team_stats>h3{
	margin:30px 0;
}
#team_stats .stats{
	margin:40px 0;
}
#team_stats .stats h3{
	margin-left:40px;
}
#team_stats .chart{
	width:450px;
	/*height:300px;*/
}
#team_stats .chart canvas{
	width:100%;
	max-width:400px;
	margin-left:auto;
	margin-right:auto;
}

@-webkit-keyframes moveLeft{
	0%{
		-webkit-transform:translateX(0);
		transform:translateX(0);
	}
	100%{
		-webkit-transform:translateX(-100%);
		transform:translateX(-100%);
	}
}
@keyframes moveLeft{
	0%{
		-webkit-transform:translateX(0);
		transform:translateX(0);
	}
	100%{
		-webkit-transform:translateX(-100%);
		transform:translateX(-100%);
	}
}

/*Media Queries*/
@media screen and (max-width:767px){
	#teams_screen{
		overflow:auto;
	}
	#teams_screen .screen_heading{
		position:static;
		width: auto;
		margin-left: -15px;
		margin-right: -15px;
	}
	#teams_screen .screen_content{
		/*overflow:auto;*/
		height:auto;
		padding-top:0;
	}
	#team_info{
		height:auto;
	}
	#season_teams{
		height:auto;
	}
	#season_teams .team_div{
		min-width: 300px;
		border-left: 1px solid rgba(255, 255, 255, 0.24);
		padding: 20px 10px 20px 40px;
	}
	#season_teams .team_div:first-child{
		border-left:none;
	}
	#season_teams .win_ribbon{
		right: auto;
	    left: 0;
	    transform: rotate(-45deg) translate(-55px,21px);
	}
}
@media screen and (max-width:576px){
	.table_container{
		overflow: auto;
	}
	.table{
		min-width:576px;
		width:auto;
		max-width:none;
	}
}