<!DOCTYPE html>
<html>
<head>
	<title>SocialCops Task</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="css/app.min.css">
	<!-- <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/fontello.css">
	<link rel="stylesheet" href="css/app.css"> -->
</head>
<body>
<div id="root" class="container-fluid fullHeight" :class="{data_loaded:data_loaded}">
	<div id="screens" class="row">
		<div class="screen col-12 windowHeight text-center" :class="{active:visible_screen_index==0}">
			<div id="logo"><img src="images/ipl_logo.png"></div>
			<h3>INDIAN PREMIER LEAGUE</h3>
			<h4 class="light">SEASONS</h4>
			<div class="season_years_container row justify-content-between align-items-center">
				<div class="season_div col-6 col-sm-4 text-center" v-for="season in seasons">
					<div class="season_year light" @click="select_season(season)">{{season}}</div>
				</div>
			</div>
		</div>
		<div class="screen col-12 windowHeight" :class="{active:visible_screen_index==1}" id="teams_screen">
			<div class="screen_heading text-center d-flex align-items-center">
				<i class="fa fa-left-arrow float-left" @click="switch_screen(0)"></i>
				<h3 class="light"><img src="images/ipl_logo.png" class="logo">INDIAN PREMIRE LEAGUE(IPL) {{selected_season}}</h3>
			</div>
			<div class="screen_content row fullHeight">
				<div class="col-12 col-md-4 col-lg-3 d-flex d-md-block fullHeight" id="season_teams">
					<div class="team_div row" v-for="team in season_teams" @click="select_team(team)">
						<div class="team d-inline-flex align-items-center" :class="{winner:team==season_winner}">
							<img :src="get_team_logo(team)"> <span>{{team}}</span>
						</div>
						<div v-if="team==season_winner" class="win_ribbon">Winner</div>
					</div>
				</div>
				<div class="col-12 col-md-8 col-lg-9 fullHeight" id="team_info">
					<div class="row" id="ticker" v-show="!selected_team.name.length">
						<ul class="d-flex" :style="{minWidth:ticker_single_width*season_trivia.length+'px'}">
							<li v-for="trivia in season_trivia">{{trivia}}</li>
						</ul>
					</div>
					<div class="row table_container" id="all_matches" v-show="!selected_team.name.length">
						<table class="table table-stripped">
							<thead>
								<tr>
									<th>#</th>
									<th>Team 1</th>
									<th>Team 2</th>
									<th>Winner</th>
									<th class="d-none d-lg-table-cell">Date</th>
									<th class="d-none d-xl-table-cell">Man of the Match</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(match,index) in season_matches">
									<td>{{index+1}}</td>
									<td>{{match.team1}}</td>
									<td>{{match.team2}}</td>
									<td>{{match.winner}}
										<span v-if="match.result=='tie'">(In Super Over)</span>
										<span v-else-if="match.win_by_runs>0">(By {{match.win_by_runs}} runs)</span>
										<span v-else-if="match.win_by_wickets>0">(By {{match.win_by_wickets}} wickets)</span>
										<!-- didn't use v-else because there is a case of D/L and I didn't want to display that :P -->
									</td>
									<td class="d-none d-lg-table-cell">{{change_date_format(match.date)}}</td>
									<td class="d-none d-xl-table-cell">{{match.player_of_match}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row justify-content-around" id="team_stats" v-show="selected_team.name.length">
						<div class="col-12">
							<h3 class="text-center">{{selected_team.name}} matches</h3>
							<table class="table table-stripped">
								<thead>
									<tr>
										<th>#</th>
										<th>Vs</th>
										<th>Result</th>
										<th>Date</th>
										<th class="d-none d-lg-table-cell">Man of the Match</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(match,index) in get_team_matches(selected_team.name)">
										<td>{{index+1}}</td>
										<td>
											<template v-if="match.team1==selected_team.name">{{match.team2}}</template>
											<template v-else>{{match.team1}}</template>
										</td>
										<td><template v-if="selected_team.name==match.winner">Won</template><template v-else>Lost</template></td>
										<td>{{change_date_format(match.date)}}</td>
										<td class="d-none d-lg-table-cell">{{match.player_of_match}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="stats col-12">
							<h3>Match Stats</h3>
							<div class="chart">
								<canvas id="match_chart"></canvas>
							</div>
						</div>
						<div class="stats col-12">
							<h3>Batting Stats</h3>
							<div class="chart">
								<canvas id="batting_chart"></canvas>
							</div>
						</div>
						<div class="stats col-12">
							<h3>Bowling Stats</h3>
							<div class="chart">
								<canvas id="bowling_chart"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="loader" class="d-flex flex-column align-items-center justify-content-center">
		<div class="d-inline-block"><i class="fa fa-cog fa-spin"></i></div>
		<div class="loading_msgs" v-html="loading_msg"></div>
	</div>
</div>
<script src="js/build/app.js"></script>
<!-- <script src="js/vue-2.4.2.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/chart.js"></script>
<script src="js/app.js"></script> -->
</body>
</html>